.loadBtn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  background-image: linear-gradient(
    90deg,
    var(--accent-color1) 0%,
    var(--accent-color2) 56%,
    var(--accent-color3) 100%
  );
  color: var(--bg-color);
  cursor: pointer;
  animation: move 1s infinite;
}

.loadBtn:hover,
.loadBtn:focus {
  background-color: var(--font-color);
}

.loadIcon {
  margin-right: 5px;
}
.loadBtn:hover .loadIcon {
  animation: spin 5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  50% {
    background-image: linear-gradient(
      262deg,
      var(--accent-color1) 0%,
      var(--accent-color2) 56%,
      var(--accent-color3) 100%
    );
  }
}
