.cardWrapper {
  display: flex;
  padding: 20px;
  width: 75%;
}

.textWrapper {
  padding-left: 10px;
}

.title {
  color: var(--font-accent-color);
}

.genreList {
  list-style: none;
  padding: 0;
}

.text {
  color: var(--font-color);
}

.trailerIcon {
  width: 80px;
  height: 25px;
}

.castReviewWrapper {
  padding-left: 10px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: var(--font-color);
  font-size: 24px;
}

.activeLink {
  composes: link;
  color: var(--font-accent-color);
}

.button {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: var(--font-accent-color);
  color: var(--bg-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--font-color);
}
