.navigation {
  padding: 10px 20px;
  background: #02768d url('../../images/unsplash.f3edf981.jpg') no-repeat;
  background-position: 0 100%;
  background-size: cover;
  transition: background-position 1s;
  text-align: center;
}

.navigation:hover {
  background-position: 100% 0;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #fff;
  font-size: 24px;
}

.activeLink {
  composes: link;
  color: #99f2f5;
  border-bottom: 2px solid #99f2f5;
}
